# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build
/dist

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode
*.swp
*.swo

# Strapi
############################
/strapi/.cache
/strapi/.tmp
/strapi/.env
/strapi/license.txt
/strapi/exports
/strapi/build
/strapi/dist
/strapi/.strapi-updater.json

# Ansible
############################
/ansible/*.retry
/ansible/inventory/*
!/ansible/inventory/example

# Monitoring
############################
/monitoring/prometheus/data
/monitoring/alertmanager/data
/monitoring/grafana/data
/monitoring/loki/data

# Logs
############################
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
############################
.DS_Store
Thumbs.db 