[Unit]
Description=Loki
Documentation=https://grafana.com/docs/loki/latest/
After=network-online.target

[Service]
Type=simple
User=loki
Group=loki
ExecStart=/usr/local/bin/loki \
    --config.file=/etc/loki/config.yml

Restart=always

[Install]
WantedBy=multi-user.target 